
<div>
    <h2> Grocery list manager </h2>

    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Item name" [(ngModel)]="task">
                <button class="btn btn-success" type="button" id="button-addon2"  (click)="onClick()">Add
                </button>
            </div>
        </div>
    </div>
    
    <br />

    <ul class="list-group">
        <li *ngFor="let task of tasks" class="list-group-item">
            <span> {{ task.name }} </span>
            <button class="delete-button" (click)="deleteItem(task.name)">Delete</button>
        </li>
    </ul>
</div>